.root {
  --color1: #024959;
  --color2: #ffffff;
  --color3: #d9d9d9;
}

*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
body{
  background-color: #024959;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.parte-login{
  display: inline-block;
  margin-left: 50%;
  background-color: #d9d9d9;
  height: 953px;
  width: 960px;
  border-radius: 40px 0px 0px 40px;
}

.senha{
  border-radius: 40px;
  padding: 10px;
  font-size: 20px;
  margin-top: 50px;
  margin-left: 90px;
  border: none;
}

.email{
  display: inline-block;
  border-radius: 40px;
  padding: 10px;
  font-size: 20px;
  margin-top: 50px;
  margin-left: 90px;
  border: none;
}

button{
  background-color: #024959;
  border-radius: 40px;
  font-size: 25px;  
  background-color: #f3f7fe;
  color: #024959;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  width: 200px;
  height: 55px;
  transition: 0.5s;

}

button:hover {
  background-color: #024959;
  box-shadow: 0 0 0 5px #5C868F;
  color: #fff;
  transform: scale(1.1);
}

.Login-title{
  display: inline-block;
}

p{
  display: inline-block;
}

.E-mail-title{
  display: inline-block;
}

.Senha-title{
  display: inline-block;
}

.esqueci{
  display: inline-block;
}
